<h1>You have updated Picture #<%=params[:id]%></h1>


<img width="200"src ="<%= @picture_update.source%>">

<p>Updated Caption: <%= @picture_update.caption %></p>

<p><a href="http://localhost:3000/all_pictures">Click here for updated list of pictures</a></p>